.git
.cargo
.github

## Ignore target
target/
crates/wekan-cli/target/
crates/wekan-common/target/
crates/wekan-core/target/
crates/wekan-core-derive/target/


.editorconfig

## Ignore emacs
*~
.emacs.desktop
.emacs.desktop.lock
.dir-locals.el


## Ignore coverage profiles
*.profraw
